{% load static %} {% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Gurdeep Kumar</title>
    <link rel="stylesheet" href="{% static 'core/css/style.css' %}" />
    <!-- Alpine.js CDN -->
    <script
      src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"
      defer
    ></script>

    {% tailwind_css %}

    <!-- Google Analytics -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-C96PGYZ9RD"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());
      gtag("config", "G-C96PGYZ9RD");
    </script>
  </head>

  <body
    class="relative bg-repeat bg-top backdrop-blur-[3px] bg-auto min-h-screen text-gray-200"
    style="background-image: url('{% static 'images/bg.webp' %}')"
  >
    <!-- Black overlay -->
    <div class="absolute inset-0 bg-black opacity-85 z-0"></div>

    <!-- Page content layered above -->
    <div class="relative z-10 flex flex-col min-h-screen">
      <main class="grow">{% block content %}{% endblock content %}</main>
      <footer
        class="bg-[#084E34] flex flex-row items-center justify-center w-full text-white p-4 text-center"
      >
        <p>© Build with Django + Tailwind</p>
        <div class="ml-2 animate-pulse">❤️</div>
      </footer>
    </div>
    <!-- Alpine Component -->
    <script>
      function carousel() {
        return {
          currentIndex: 0,
          totalSlides: 3,
          next() {
            this.currentIndex = (this.currentIndex + 1) % this.totalSlides;
          },
          prev() {
            this.currentIndex =
              (this.currentIndex - 1 + this.totalSlides) % this.totalSlides;
          },
          goTo(index) {
            this.currentIndex = index;
          },
        };
      }
    </script>
  </body>
</html>
