{% load static %}
<div id="about" class="grid h-screen justify-items-center">
  <div class="grid md:w-2/4 grid-cols-1 p-5">
    <div class="flex md:col-span-1 items-center">
      <div class="p-5">
        <div>
          <h2 class="sm:text-4xl text-3xl font-semibold">Hi,</h2>
          <br />
          <p class="text-justify text-gray-300">
            I’m Gurdeep Kumar, software developer transitioning from the coffee
            industry to tech. Currently, I am looking for a software developer
            role where I can grow my skills and continue learning new
            technologies.
          </p>
        </div>
        <div>{% include "core/layers/links.html"%}</div>
      </div>
    </div>
  </div>
</div>
<div
  class="animate-bounce flex flex-row justify-center items-center absolute bottom-8 w-screen"
>
  <a href="#projects">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="50"
      height="50"
      viewBox="0 0 24 24"
      fill="none"
      stroke="#6A7280"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
    >
      <circle cx="12" cy="12" r="10" />
      <path d="M16 12l-4 4-4-4M12 8v7" />
    </svg>
  </a>
</div>
