<div id="certifications" class="py-10 text-center">
  <!--heading-->
  <h2 class="text-4xl w-full text-[#13A163] text-center p-5 pb-10 font-bold">
    Certifications
  </h2>

  <div class="flex justify-center">
    <div class="w-9/12 flex flex-col gap-5">
      <!--1st Certification-->
      <div
        class="border backdrop-opacity-50 bg-black border-gray-700 rounded overflow-hidden shadow-lg"
      >
        <div class="px-6 py-4">
          <div class="font-bold mb-2">
            CS50’s Introduction to Programming with Python
          </div>
          <hr class="h-px my-3 bg-gray-200 border-0 dark:bg-gray-700" />
          <p class="text-gray-300 text-base">
            Completed Harvard’s CS50 Introduction to Programming with Python,
            mastering fundamentals like functions, loops, and data structures.
            Finished nine problem sets and a final project, gaining hands-on
            experience in solving real-world problems using Python.
          </p>
          <a
            href="https://cs50.harvard.edu/certificates/433e98da-210a-4a27-a0a5-3d0c4a251abc"
          >
            <p class="animate-pulse text-gray-400 p-3">View Certification</p>
          </a>
        </div>
      </div>
      <!---2nd Certification-->
      <div
        class="border backdrop-opacity-50 bg-black border-gray-700 rounded overflow-hidden shadow-lg"
      >
        <div class="px-6 py-4">
          <div class="font-bold mb-2">CCNA (July 2020 - July 2023)</div>
          <hr class="h-px my-3 bg-gray-200 border-0 dark:bg-gray-700" />
          <p class="text-gray-300 text-base">
            Achieved Cisco Certified Network Associate (CCNA) certification,
            demonstrating proficiency in networking basics, IP connectivity,
            security, and automation. Gained hands-on experience configuring
            routers and switches, and troubleshooting real-world enterprise
            networks using Cisco technologies.
          </p>
          <a
            href="https://cp.certmetrics.com/cisco/en/public/verify/credential/G5Z147PNJD14QMKS"
          >
            <p class="animate-pulse text-gray-400 p-3">View Certification</p>
          </a>
        </div>
      </div>
      <!--3rd Certification-->
    </div>
  </div>
</div>
