{% load static %}

<nav class="pb-5 pt-8">
  <ul class="sm:flex grid gap-5 md:gap-3">
    <li>
      <button
        onclick="location.href='https://github.com/yourusername'"
        class="px-4 w-full sm:w-auto py-2 bg-sky-800 rounded-full hover:bg-sky-700"
      >
        GitHub
      </button>
    </li>
    <li>
      <button
        onclick="location.href='https://linkedin.com/in/yourusername'"
        class="px-4 py-2 w-full sm:w-auto bg-sky-800 rounded-full hover:bg-sky-700"
      >
        LinkedIn
      </button>
    </li>
    <li>
      <button
        onclick="location.href='mailto:your.email@example.com'"
        class="px-4 py-2 w-full sm:w-auto bg-sky-800 rounded-full hover:bg-sky-700"
      >
        Email
      </button>
    </li>
    <li>
      <button
        onclick="location.href='https://twitter.com/yourusername'"
        class="px-4 py-2 w-full sm:w-auto bg-sky-800 rounded-full hover:bg-sky-700"
      >
        Twitter
      </button>
    </li>
  </ul>
</nav>
