{% load static %}

<nav class="hidden sm:block pb-5 pt-8">
  <ul class="flex gap-5 md:gap-3 justify-center">
    <li>
      <button
        onclick="location.href='#projects'"
        class="px-4 py-2 bg-gray-600 rounded-full hover:bg-gray-700"
      >
        Projects
      </button>
    </li>
    <li>
      <button
        onclick="location.href='#technologies'"
        class="px-4 py-2 bg-gray-600 rounded-full hover:bg-gray-700"
      >
        Technologies
      </button>
    </li>
    <li>
      <button
        onclick="location.href='#experience'"
        class="px-4 py-2 bg-gray-600 rounded-full hover:bg-gray-700"
      >
        Experience
      </button>
    </li>
    <li>
      <button
        onclick="location.href='#contact'"
        class="px-4 py-2 bg-gray-600 rounded-full hover:bg-gray-700"
      >
        Contact
      </button>
    </li>
  </ul>
</nav>
