<div id="projects" class="bg-gray-700 grid grid-cols-1 p-5">
  <h2 class="text-4xl grid w-full text-center p-5 font-bold">Projects</h2>
  <div class="mt-6 grid grid-cols-1 md:grid-cols-3 gap-5 bg-slate-600">
    <div class="bg-gray-800 p-6 rounded-lg shadow-lg">
      <h3 class="text-2xl font-bold">Expenser</h3>
      <p class="mt-2 text-gray-400">
        A personal expense tracking app built with Django and Bootstrap.
      </p>
    </div>
    <div class="bg-gray-800 p-6 rounded-lg shadow-lg">
      <h3 class="text-2xl font-bold">Pathfinding Visualizer</h3>
      <p class="mt-2 text-gray-400">
        A visualizer for pathfinding algorithms like A* and Dijkstra.
      </p>
    </div>
    <div class="bg-gray-800 p-6 rounded-lg shadow-lg">
      <h3 class="text-2xl font-bold">Pathfinding Visualizer</h3>
      <p class="mt-2 text-gray-400">
        A visualizer for pathfinding algorithms like A* and Dijkstra.
      </p>
    </div>
  </div>
</div>
