<div id="projects" class="bg-gray-700 py-10 text-center">
  <!--heading-->
  <h2 class="text-4xl w-full text-center p-5 font-bold">Projects</h2>

  <div class="flex justify-center">
    <div class="w-9/12 grid grid-cols-1 gap-5">
      <!--1st Project-->
      <div class="bg-gray-800 rounded overflow-hidden shadow-lg">
        <div class="px-6 py-4">
          <div class="font-bold text-xl mb-2">Expenser</div>
          <hr class="h-px my-3 bg-gray-200 border-0 dark:bg-gray-700" />
          <p class="text-gray-300 text-base">
            Expenser is a personal expense tracker web application built with
            Django and Bootstrap. It allows users to manage their expenses, view
            reports, and export their data in CSV, PDF, and Excel formats. It
            includes features like user authentication, CRUD operations for
            expenses, filtering, sorting, and more.
          </p>
          <a href="https://expenser.gurdeepkumar.com">
            <p class="animate-pulse text-gray-400 p-3">
              Check out the live demo!
            </p>
          </a>
          <hr class="h-px mt-3 bg-gray-200 border-0 dark:bg-gray-700" />
        </div>

        <div class="px-6 pt-1 pb-2">
          <span
            class="inline-block w-32 bg-gray-200 rounded-full my-1 px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2"
            >#django</span
          >
          <span
            class="inline-block w-32 bg-gray-200 rounded-full my-1 px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2"
            >#bootstrap</span
          >
          <span
            class="inline-block w-32 bg-gray-200 rounded-full my-1 px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2"
            >#RESTapi</span
          >
        </div>
      </div>
      <!---2nd Project-->
      <div class="bg-gray-800 rounded overflow-hidden shadow-lg">
        <div class="px-6 py-4">
          <div class="font-bold text-xl mb-2">UrlShorty</div>
          <hr class="h-px my-3 bg-gray-200 border-0 dark:bg-gray-700" />
          <p class="text-gray-300 text-base">
            ​The URL Shorty project is a lightweight RESTful API developed using
            FastAPI. It enables users to create, read, update, and delete
            shortened URLs, with the added feature of customizing short codes
            using meaningful words for easier sharing and management.
          </p>
          <a href="https://UrlShorty.gurdeepkumar.com">
            <p class="animate-pulse text-gray-400 p-3">
              Check out the live demo!
            </p>
          </a>
          <hr class="h-px mt-3 bg-gray-200 border-0 dark:bg-gray-700" />
        </div>

        <div class="px-6 pt-1 pb-2">
          <span
            class="inline-block w-32 bg-gray-200 rounded-full my-1 px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2"
            >#FastAPI</span
          >
          <span
            class="inline-block w-32 bg-gray-200 rounded-full my-1 px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2"
            >#SQLModel</span
          >
          <span
            class="inline-block w-32 bg-gray-200 rounded-full my-1 px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2"
            >#Pydantic</span
          >
        </div>
      </div>

      <!--3rd Project-->
    </div>
  </div>
</div>
