<div id="technologies" class="bg-gray-800 grid grid-cols-1 p-10 text-center">
  <h2 class="text-4xl font-bold">Technolgies</h2>
  <p class="mt-4 text-lg">
    Following are the technologies that I have worked with and am familiar with
    in my development journey.
  </p>
  <div class="flex justify-center">
    <div
      class="grid py-5 w-11/12 grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 text-white"
    >
      <div class="flex justify-center space-x-3 bg-gray-700 p-4 rounded-lg">
        <img
          src="https://cdn.simpleicons.org/python/white"
          alt="Python"
          class="w-6 h-6"
        />
        <span>Python</span>
      </div>
      <div class="flex justify-center space-x-3 bg-gray-700 p-4 rounded-lg">
        <img
          src="https://cdn.simpleicons.org/django/white"
          alt="Django"
          class="w-6 h-6"
        />
        <span>Django</span>
      </div>
      <div class="flex justify-center space-x-3 bg-gray-700 p-4 rounded-lg">
        <img
          src="https://cdn.simpleicons.org/tailwindcss/white"
          alt="Tailwindcss"
          class="w-6 h-6"
        />
        <span>Tailwindcss</span>
      </div>
      <div class="flex justify-center space-x-3 bg-gray-700 p-4 rounded-lg">
        <img
          src="https://cdn.simpleicons.org/bootstrap/white"
          alt="Bootstrap"
          class="w-6 h-6"
        />
        <span>Bootstrap</span>
      </div>
      <div class="flex justify-center space-x-3 bg-gray-700 p-4 rounded-lg">
        <img
          src="https://cdn.simpleicons.org/postgresql/white"
          alt="PostgreSQL"
          class="w-6 h-6"
        />
        <span>PostgreSQL</span>
      </div>
      <div class="flex justify-center space-x-3 bg-gray-700 p-4 rounded-lg">
        <img
          src="https://cdn.simpleicons.org/amazonwebservices/white"
          alt="AWS"
          class="w-6 h-6"
        />
        <span>AWS</span>
      </div>
      <div class="flex justify-center space-x-3 bg-gray-700 p-4 rounded-lg">
        <img
          src="https://cdn.simpleicons.org/linux/white"
          alt="Linux"
          class="w-6 h-6"
        />
        <span>Linux</span>
      </div>
      <div class="flex justify-center space-x-3 bg-gray-700 p-4 rounded-lg">
        <img
          src="https://cdn.simpleicons.org/git/white"
          alt="Git"
          class="w-6 h-6"
        />
        <span>Git</span>
      </div>
      <div class="flex justify-center space-x-3 bg-gray-700 p-4 rounded-lg">
        <img
          src="https://cdn.simpleicons.org/nginx/white"
          alt="Nginx"
          class="w-6 h-6"
        />
        <span>Nginx</span>
      </div>
      <div class="flex justify-center space-x-3 bg-gray-700 p-4 rounded-lg">
        <img
          src="https://cdn.simpleicons.org/python/white"
          alt="Tkinter"
          class="w-6 h-6"
        />
        <span>Tkinter</span>
      </div>
    </div>
  </div>
</div>
