<div id="technologies" class="grid grid-cols-1 p-10 text-center">
  <h2 class="text-4xl text-[#13A163] font-bold">Tech Stack</h2>
  <p class="mt-4 text-lg">
    Here are the technologies I've worked with and become familiar with
    throughout my development journey.
  </p>
  <div class="flex justify-center">
    <div
      class="grid py-5 md:w-9/12 grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 text-white"
    >
      <div class="flex justify-center space-x-3 bg-[#084E34] p-4 rounded-lg">
        <img
          src="https://cdn.simpleicons.org/python/white"
          alt="Python"
          class="w-6 h-6"
        />
        <span>Python</span>
      </div>
      <div class="flex justify-center space-x-3 bg-[#084E34] p-4 rounded-lg">
        <img
          src="https://cdn.simpleicons.org/django/white"
          alt="Django"
          class="w-6 h-6"
        />
        <span>Django</span>
      </div>
      <div class="flex justify-center space-x-3 bg-[#084E34] p-4 rounded-lg">
        <img
          src="https://cdn.simpleicons.org/fastapi/white"
          alt="fastapi"
          class="w-6 h-6"
        />
        <span>FastAPI</span>
      </div>

      <div class="flex justify-center space-x-3 bg-[#084E34] p-4 rounded-lg">
        <img
          src="https://cdn.simpleicons.org/react/white"
          alt="react"
          class="w-6 h-6"
        />
        <span>React</span>
      </div>
      <div class="flex justify-center space-x-3 bg-[#084E34] p-4 rounded-lg">
        <img
          src="https://cdn.simpleicons.org/celery/white"
          alt="celery"
          class="w-6 h-6"
        />
        <span>Celery</span>
      </div>
      <div class="flex justify-center space-x-3 bg-[#084E34] p-4 rounded-lg">
        <img
          src="https://cdn.simpleicons.org/redis/white"
          alt="redis"
          class="w-6 h-6"
        />
        <span>Redis</span>
      </div>

      <div class="flex justify-center space-x-3 bg-[#084E34] p-4 rounded-lg">
        <img
          src="https://cdn.simpleicons.org/sqlalchemy/white"
          alt="sqlalchemy"
          class="w-6 h-6"
        />
        <span>SQLAlchemy</span>
      </div>

      <div class="flex justify-center space-x-3 bg-[#084E34] p-4 rounded-lg">
        <img
          src="https://cdn.simpleicons.org/tailwindcss/white"
          alt="Tailwindcss"
          class="w-6 h-6"
        />
        <span>Tailwindcss</span>
      </div>

      <div class="flex justify-center space-x-3 bg-[#084E34] p-4 rounded-lg">
        <img
          src="https://cdn.simpleicons.org/postgresql/white"
          alt="PostgreSQL"
          class="w-6 h-6"
        />
        <span>PostgreSQL</span>
      </div>
      <div class="flex justify-center space-x-3 bg-[#084E34] p-4 rounded-lg">
        <img
          src="https://cdn.simpleicons.org/task/white"
          alt="task"
          class="w-6 h-6"
        />
        <span>AWS</span>
      </div>

      <div class="flex justify-center space-x-3 bg-[#084E34] p-4 rounded-lg">
        <img
          src="https://cdn.simpleicons.org/git/white"
          alt="Git"
          class="w-6 h-6"
        />
        <span>Git</span>
      </div>
      <div class="flex justify-center space-x-3 bg-[#084E34] p-4 rounded-lg">
        <img
          src="https://cdn.simpleicons.org/nginx/white"
          alt="Nginx"
          class="w-6 h-6"
        />
        <span>Nginx</span>
      </div>
    </div>
  </div>
</div>
